<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C_Dat.Properties.Settings.cn" connectionString="Data Source=DESKTOP-9LD220N\SQLEXPRESS;Initial Catalog=vendtly;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>